/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #3a3a3a;
}

.app-wrapper {
    position: relative;
    max-width: 1200px;
    width: 100%;
}

.logo {
    font-family: Gluten;
    line-height: normal;
    font-weight: 600;
    font-size: 46px;
    margin-right: 20px;
    float: left;
}

.logo-link {
    text-decoration: none;
    color: #fff;
}

/* Navigation menu styles */
/* Hamburger menu styles */

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 25px;
    cursor: pointer;
}


.bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

/* Change hamburger bar color on hover */
.hamburger-menu:hover .bar {
    background-color: #a3a3a3; /* Change color on hover */
}

.hamburger-menu:active .bar {
    background-color: #ffffff; /* Change color on hover */
}

/* Change bar positions for active hamburger menu */
.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.active .bar:nth-child(2) {
    opacity: 0;
}

.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Navigation menu styles */

nav ul {
    list-style: none;
    float: right;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 600;
}

.nav a:hover {
    color: #a3a3a3;
}

/* mobile menu styles*/

/* initial state */
#mobile-menu {
    display: none;
}

.mobile-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    top: 0;
    right: -100%; /* Initially off-screen */
    width: 80%; /* Adjust width as needed */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-blurred dark background */
    backdrop-filter: blur(5px); /* Apply blur effect */
    transition: right 0.3s ease; /* Smooth transition */
    z-index: 999; /* Ensure it's above other content */
    padding: 20px;
    padding-top: 20%;
    color: white;
}

.mobile-menu li :active {
    color: rgb(255, 255, 255);
}

.mobile-menu.active {
    right: 0; /* Slide in from the right when active */
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-top: 50px;
    padding-left: 0;
}

.mobile-menu ul li {
    margin-bottom: 15px;
    padding: 20px;
    margin-left: 0;
}

.mobile-menu .btn {
    margin-top: 20px;
    padding: 10px 30px;
}

.mobile-menu a {
    text-decoration: none;
    color: #fff;
}

.close-btn {
    position: absolute;
    font-weight: 100;
    font-size: 40px;
    top: 10px;
    right: 20px;
    color: rgba(79, 77, 77, .5);
    cursor: pointer;
    padding: 10px;
    transition: color .3s;
}

.close-btn:hover {
    color: #9393938a;
}

.btn {
    padding: 8px 20px;
    border-radius: 40px;
    color:#ffffff;
    background-color: rgb(119, 193, 7);
    text-decoration: none;
    font-weight: 600;
    line-height: normal;
    transition: background-color 0.4s ease;
    box-shadow: 1px 1px 10px rgba(60, 60, 60, 0.831); /* Button shadow */
}

.btn:hover {
    background-color: rgba(119, 193, 7, 0.599);
    cursor: pointer;
}

.btn:active {
    background-color: rgb(119, 193, 7);
}

/* Header styles */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    z-index: 100;
    position: fixed;
    top: 0;
    left:auto;
    background-color: #e62321;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container {
    padding: 100px 20px;
}

.container.menu {
    padding: 2rem ;
}

p {
    padding-left: .5rem;
}

/* Hero section styles */

.spacer {
    width: 100%;
    margin-top: 73px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-image: url(img/taquitosPlate2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 500px;
}

.hero img {
    image-rendering: center;
    width: 100vw;
    height: auto;
}

.hero h2, .menu h2 {
    font-size: 42px;
    color: #2b2b2b;
}

.hero p {
    margin-bottom: 40px;
    font-weight: 500;
    color: #1d1d1d;
}

.hero::after {
    content: ''; /* Create pseudo-element to overlay background color */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* White with 0% opacity */
    /* Ensure pseudo-element is behind text */
}

.media {
    background-color: rgba(119, 193, 7,.75);
    padding: 2rem
}

.media h3, .media p {
    /* color: #2b2b2b; */
    color: #ffffff;
}

/* Gallery Styles */
.media-wrapper {
    background-image: url("img/background2.svg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.media-scroller {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    
    padding: 0 1rem 3rem;
    background-color: rgba(119, 193, 7,.8);

    
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    /* scrollbar-width: none; */
    scroll-behavior: auto;
}

.media-element {
    display: grid;
    grid-template-rows: min-content;
    padding: 1rem;
    /* background:rgba(223, 241, 197, 0.694); */
    background:rgba(255, 255, 255, 0.694);
    /* background:#dcdbdb; */
    color: #403f3f;
    border-radius: 4px 6px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 20px; */
    transition: opacity .3s;
}

.media-element > img {
    inline-size: 100%;
    aspect-ratio:4/3; /*16/9 (another option)*/
    object-fit: cover;
}

.media-element:hover {
    cursor: pointer;
    opacity: .7;
}

.media-element > p {
    text-align: center;
    padding-top: 1rem;
}

/* general styling */

div.selected {
    position: relative;
    color: #161515;
    margin-bottom: 20px;
    z-index: 2;
}

/* CSS for lightbox */
.lightbox {
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;   
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.lightbox-img {
    /* display: block; */
    /* margin: auto; */
    max-width: 80%;
    max-height: 80%;
}

.close {
    color: white;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    opacity: .6;
}

.close:active {
    opacity: 1;
}

/* CSS for semi-transparent background overlay */
.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 9998; /* Ensure it's behind the lightbox but above other content */
    display: none; /* Initially hidden */
}

/* CSS to prevent pointer events on elements behind the lightbox */
.lightbox-open {
    pointer-events: none;
}

/* menu styles */
/* Styles for menu section */
.menu {
    background-image: url("img/background2.svg");
    background-repeat: repeat;
    background-size: contain;
    background-position: fixed;
    text-align: center;
}

.menu-wrapper {
    max-width: 100%;
    margin: 0 auto;
    background-color: #dad7d721;
}

.menu h2 {
    margin-bottom: 1.5rem;
    color: #333;
}

.menu-item {
    background-color: #f2f0f0a6;
    margin: 2rem;
    padding: 1rem;
}

.menu-item h3 {
    font-size: 1.5rem;
    color: #555;
}

.menu-item .description {
    color: #777;
}

.menu-item .price {
    display: flex;
    flex-direction: column;
    justify-content:center;
    font-weight: bold;
    color: #333;
}

.menu-title-wrapper {
    background-color: #fff;
    padding: 0 4px;
}

.description {
    padding-top: .5rem;
    text-align: left;
}

/* .price {
    padding-bottom: .5rem;
} */

.menu-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.group {
    display: flex;
    flex-direction: column;
}

.map {
    background-color: #979797;
    display: flex;
    padding: 2rem;
    color: #333;
    width: 100%;
    color: #fff;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.map div {
    width: 100%;
}

.map p {
    padding-bottom: 2rem;
}

/* Footer styles */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333;
    color: #fff;
    width: 100%;
    height: 60px;
    padding: 40px 20px;
    text-align: center;
}

/* add top margin to offset anchor tags off fixed nav height */

/* a.anchor {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
} */


@media only screen and (max-width: 730px){
    /*Tablets [700 -> below]*/
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 605px){
    /*Small smartphones [605 -> below]*/
    
    .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .logo {
    margin-right: 0;
    }

    .hero {
        margin-top: 110px;
    }

    .menu {
        padding: 0;
    }

    .menu-item {
        margin: 0;
    }

    .menu-item h3 {
        font-size: 1rem;
    }

    .menu-item p {
        font-size: .75rem;
    }

    .container.menu-wrapper {
        padding: 4rem 0;
    }

    .media-element {
        display: grid;
        grid-template-rows: min-content;
        padding: .75rem;
    }
    
    .media-element > p {
        text-align: center;
        padding-top: .5rem;
        font-size: 14px;
    }
        /*anchor nav height offset*/
        a.anchor {
            display: block;
            position: relative;
            top: -90px;
            visibility: hidden;
        } 
}

@media only screen and (max-width: 430px){
    /*Small smartphones [430 -> below]*/
    
    .logo {
        font-size: 36px;
        padding-bottom: .5rem;
    }
    
    .hero {
        margin-top: 90px;
    }

    .hero h2 {
        font-size: 30px;
    }
    
    .hero p {
        font-size: 16px;
    }
    .media-scroller {
        grid-auto-columns: 75%;
    }
            /*anchor nav height offset*/
            a.anchor {
                display: block;
                position: relative;
                top: -90px;
                visibility: hidden;
            } 
}

@media only screen and (max-width: 320px){
    .logo {
        font-size: 30px;
    }

    /* .hero {
        margin-top: 101px;
    } */

} 