/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #3a3a3a;
}

.logo {
    font-family: Gluten;
    color: #fff;
    line-height: normal;
    font-weight: 600;
    font-size: 46px;
    margin-right: 20px;
    float: left;
}

nav ul {
    list-style: none;
    float: right;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav a:hover {
    color: #a3a3a3;
}

.btn {
    padding: 10px 20px;
    border-radius: 40px;
    color:#ffffff;
    background-color: rgb(119, 193, 7);
    text-decoration: none;
    font-weight: 600;
    line-height: normal;
    transition: background-color 0.8s ease;
    box-shadow: 1px 1px 10px rgba(60, 60, 60, 0.831); /* Button shadow */
}

.btn:hover {
    background-color:rgba(80, 138, 80, 0.7);
    color: #353535;
}

.btn:active {
    background-color: rgb(119, 193, 7);

}

.wrapper {
    width: 100%;
    max-width: 1200px;
    height: auto;
}

/* Header styles */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
}
    
    header {
        background-color: #e62321;
        padding: 15px 0;
}


.container {
    padding: 100px 20px;
}

.container.menu {
    padding: 2rem ;
}

p {
    padding-left: .5rem;
}

/* Hero section styles */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-image: url(img/taquitos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 500px;
}

.hero h2 {
    font-size: 42px;
    color: #2b2b2b;
}

.hero p {
    margin-bottom: 40px;
    font-weight: 500;
    color: #1d1d1d;
}

.hero::after {
    content: ''; /* Create pseudo-element to overlay background color */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* White with 0% opacity */
    /* Ensure pseudo-element is behind text */
}

.menu {
    background-color: rgb(119, 193, 7);
}

/* Gallery Styles */
.media-scroller {
    color: #ffffff;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    width: 100%;
    
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: auto;
}

.media-element {
    padding: 1rem;
    background:#2c2c2c;
    border-radius: 4px;
}

.media-element > img {
    inline-size: 100%;
    aspect-ratio:16 / 9; /*4 /3 (another option)*/
    object-fit: cover;
}

.media-element > p {
    text-align: center;
}

div.selected {
    position: relative;
    color: #161515;
    /* font-size: 36px; */
    margin-bottom: 20px;
    z-index: 2;
}

.map {
    background-color: #979797;
    display: flex;
    padding: 2rem;
    color: #333;
    width: 100% !important;
    color: #fff;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.map div {
    width: 100%;
}

.map p {
    padding-bottom: 2rem;
}

/* Footer styles */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333;
    color: #fff;
    width: 100%;
    height: 60px;
    padding: 40px 20px;
    text-align: center;
}

/* Desktop screens (min-width: 1024px) */
@media only screen and (min-width: 1024px) {
    /* Add desktop-specific styles here */
}

/* Tablet screens (min-width: 768px) and (max-width: 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
/* Add tablet-specific styles here */
}

/* Mobile screens (max-width: 767px) */
@media only screen and (max-width: 767px) {
/* Add mobile-specific styles here */
}
